body {
    background-color: #333331;
}
#header {
  border-color: transparent;
  border-top: 0%;
  border-left: 50% solid transparent;
  border-right: 50% solid transparent;
  border-bottom: 100px solid red;
}