body {
    background-color: #333331;
    margin: 0px
}
#tricon2 {
  width: 0px;
  height: 0px;
  border-top: 150px solid #444444;
  border-right: 150px solid transparent;
  float: left;
}
#title {
  position: absolute;
  text-align: center;
  font-family: Arial;
  color: white;
  margin-top: 100px solid #333333;
}